@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@300&display=swap');
body {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #4b296b;
}

/* headings and logos */

#logo, #why {
   text-align: center;
    font-size: 280%;
}

#why {
    text-decoration: underline; 
    margin-top: 3%;
    color: rgb(0, 130, 200)
}

#menu, #logo {
    line-height: 40px;
}

/* navigation links */

#menu > li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    font-size: xx-large;
    margin-top: 20px;
    padding-bottom: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 3px solid #4b296b;     
}

/* hero-images */

#hero-top {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image-1 {
    height: 500px;
    width: 33%;
    background: url('../css/images/hero-1.jpg') no-repeat center center;
    float: left;
    transform: scale(.80);
}

#hero-image-2 {
    height: 500px;
    width: 33%;
    background: url('../css/images/hero-2.jpg') no-repeat center center;
    float: right;
    transform: scale(.80);
}

#hero-image-3 {
    height: 500px;
    width: 100%;
    background: url('../css/images/hero-3.jpg') no-repeat center center; 
}

/* reasons to get involved */


 #left-about-top {
    color: rgb(0, 130, 200);
    position: absolute;
    margin-left: 73%;
    top: 800px
 }

 #left-about-mid {
    color: rgb(0, 130, 200);
    position: absolute;
    margin-left: 73%;
    top: 1000px;
 }

 #right-about-top {
    color: rgb(0, 130, 200);
    position: absolute;
    margin-left: 20%;
    top: 800px;
 }

 #right-about-mid {
    color: rgb(0, 130, 200);
    position: absolute;
    margin-left: 20%;
    top: 1000px;
 }
 hr {
    border-top: 2px solid #4b296b;
    width: 20%;
    margin: 5px 0;
}

p {
    color:#4b296b;
    max-width: 20%;
}

h3 {
    max-width: 20%;
}


#rugbyball-whistle {
    background: url('../css/images/rugbyball-whistle-watch.png') no-repeat center center;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: scale(.3);
    text-align: center;
    top: 310px;
}



/* footer */

footer {
    height: 220px;
    position: absolute;
    width: 100%;
    color: rgb(0, 130, 200);
    background-color: #4b296b
}

#need {
    position: relative;
    width: 70%;
    height: 100%;
    top: 20px;
    margin-left: 400px;

    
}

h2 {
    text-align-last: center;
    letter-spacing: 5px;
    margin: 5px;
    padding: 12px;
    text-decoration: underline;

}

.circle {
    position: relative;
    font-size: 350%;
    border-radius: 50%;
    width: 54px;
    height: 34px;
    padding: 10px;
    background:  rgb(0, 130, 200);
    border: 5px solid #4b296b;
    color: rgb(255, 255, 255);
    text-align: center;
    font: Oswald,sans-serif;
}

.social-network-contact {
    text-align: center;
    position: relative; 
}

.social-network-contact > li {
    display: inline;
    position: relative;
    top: 30px;
    padding: 15px;
    right: 44%;
}


.social-network-contact i {
    font-size: 500%;
    display: inline; 
}

#sponsors {
    color: #4b296b;
    position: absolute;
    text-align: center;
    background-color: #4b296b;
    text-transform: uppercase;
    top: 105%; 
}

h4 {
    float: left;
    color: #fafafa;
}



#allianz-img {
    background: url('../css/images/allianz.png') no-repeat center center;
    position: absolute;
    width: 100%;
    bottom: 0px;
    right: 450px;
    height: 80px;
    transform: scale(.6)   
}

#adidas-img {
    background: url('../css/images/adidas.jpeg') no-repeat center center;
    position: absolute;
    width: 100%;
    height: 80px;
    transform: scale(.6);  
}


#im-irwinmitchel-img {
    background: url('../css/images/im-iriwinmitchel.png') no-repeat center center;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 600px;
    height: 80px;
    transform: scale(.60)   
}
/* information page */

#hero-image-4 {
    background: url('../css/images/hero-4.jpg') no-repeat center center;
    width: 100%;
    height: 100%;
}


#text-boxes > li {
    color: rgb(0, 130, 200);
    display: inline-block;
    height: 150px;
    width: 98%;
    border: 4px solid rgb(0, 130, 200);
    background-color: #87b37a; 
    text-transform: capitalize;
   
}


/* gallery-photos */ 
#photos {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0;
    background-image: cover;
}
    
#photos > img {
    width: 100%;

}
/* contact-us page */

/* Form */


.form-section {
    clear: both;
    background: url('../css/images/school-ref-scrum.png');
    background-size: cover;
    background-position: center;
    height: 1500px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fafafa;
    background-color: rgba(75, 41, 107, 1);
    max-width: 435px;
    position: absolute;
    left: 5%;
    padding: 15px;
}

.signup-form > h2 {
    color:rgba(75, 41, 107, 1);
    background-color:#fafafa;
    width: 400px;
    height: 80px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 55px;
    margin: 5px 0 20px 0;
    border: 3px solid  rgb(0, 130, 200);
    border-radius: 2px;  
}

.text-input:hover {
    border-color: rgb(0, 130, 200);    
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(0, 130, 200);
    color: #fafafa;
    display: block;
}

.join-button:hover {
    color:#4b296b;
    background-color: #fafafa;
    
}
/* media screen */
@media screen and (max-width: 1200px) {

#logo, #why {
    text-align: center;
}
}

#question {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    }

#right-about-mid, #right-about-top {
    width: 80%;
    float: left;
    padding: 5px;
    left: -117px;
    bottom: 250px;
}
   
#left-about-mid, #left-about-top  {
    clear: both;
    width: 80%;
    float: right;
    padding: 5px;
    left: -117px;
    bottom: 250px;
}
   
   
#rugbyball-whistle, h5 {
    bottom: -500px;
  
}

#need {
    text-align: ceneter;
    bottom: 200px;
    left: 150px;
}

#sponsors {
    width: 90%;
    text-align: center;
    left: 60px;
    height: 35%;
}

h4 {
    float: left;
}

.social-network-contact {
    margin-left: 280px;
    height: 143px;
    bottom: 200px;
}

a.circle {
    left: 900px;
}

   /* For medium screen sizes from 950px wide and down */
   @media screen and (max-width: 950px) {
   
a.circle {
    left: 670px;
}
}

#rugbyball-whistle {
    transform: scale(.27);
}
.social-network-contact {
    left: 40px;
}

   /* for small screen size 800px and below */
    @media screen and (max-width: 800px) {
     
#rugbyball-whistle {
    transform: scale(.14);
}
        
#sponsors {
    width :100%;
    left: 10px;
    transform:scale(.9)

}

#need > h2 {
    padding: 5px; 
    }

        
a.circle {
    left: 545px;
}

#menu {
    float: left;
}

form {
    top: 1000px;
    text-align: center;
}
    }