body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: 3a3a3a;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 32%;
}

#menu, #logo{
    line-height: 75px;
}
#menu, li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#hero-top {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image-1 {
    height: 600px;
    width: 33%;
    background: url('../css/images/hero-1.jpg') no-repeat center center;
    float: left;
}

#hero-image-2 {
    height: 600px;
    width: 33%;
    background: url('../css/images/hero-2.jpg') no-repeat center center;
    float: right;
}

#hero-image-3 {
    height: 600px;
    width: 100%;
    background: url('../css/images/hero-3.jpg') no-repeat center center; 
   
}
