body {
    font-family: Arial, Helvetica, sans-serif;
}

#hero-top {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image-1 {
    height: 600px;
    width: 33%;
    background: url('../css/images/hero-1.jpg') no-repeat center center;
    float: left;
}

#hero-image-2 {
    height: 600px;
    width: 33%;
    background: url('../css/images/hero-2.jpg') no-repeat center center;
    float: right;
}


#hero-image-3 {
    height: 600px;
    width: 100%;
    background: url('../css/images/hero-3.jpg') no-repeat center center; 
    
   
}